extends layout

block content
  h1= title 
  - var results = [{"name": "Elizabeth I", "age": 87, "place": "England"}, {"name": "Mary Tudor", "age": 47, "place": "France"}, {"name": "Lakshmi Bai", "age": 56, "place": "India"}]
    div(class = 'container-fluid')
        div(class = 'row')
            each i in results 
                div(class="col-sm-2") Name : #{i["name"]} <br> Age : #{i["age"]} <br> Place : #{i["place"]}